{% load static %}
<footer class="py-3 my-3 mt-5" style="background-image: url({% static 'image/footer.png' %});">
  <div class="container">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>
    <a href="#" class="nav-link d-inline">
      <p class="text-center fw-bold text-muted ">
        <!-- <span style="color: red; background: transparent;">❤</span> -->
        Developed By <a href="https://www.linkedin.com/in/mohammad-zeeshan-57005221b/" target="_blank">zeeshann</a> | Copyright © 2023 All rights are reserved.
      </p>
    </a>
  </div>
</footer>
