{% extends 'base.html' %} {% load static %} {% block content %}

<style>
  .avtaar-img {
    clip-path: circle();
    width: 200px;
    height: auto;
  }
</style>

<div class="container mt-5">
  <div class="row justify-content-evenly">
    <!-- side navbar -->

    <div class="col-sm-4">
      <main class="d-flex flex-nowrap">
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 300px; height: 600px">
          <div class="text-center">
            <img src="{% static 'image\3.png' %}" class="img-fluid avtaar-img" alt="">
          </div>
          <span class="fs-5 fw-bold mt-3 text-center text-muted">{{user.full_name|title}}</span>
          <hr />
          <ul class="nav nav-pills flex-column mb-auto">
            <li class="text-center">
              <a href="{% url 'teacher_admin' %}" class="nav-link link-dark mt-1 fw-bold fs-5 text-muted">
                <i class="bi bi-house fs-4 p-1 text-dark"></i>
                Dashboard
              </a>
            </li>
            <li class="text-center">
              <a href="" class="nav-link link-dark mt-1 fw-bold fs-5 text-muted">
                <i class="bi bi-receipt-cutoff text-dark fs-4 p-1"></i>
                Attendance
              </a>
            </li>
          </li>
          <li class="text-center">
            <a href="{% url 'teacher_notice' %}" class="nav-link link-dark mt-1 fw-bold fs-5 text-muted">
              <i class="bi bi-megaphone text-dark fs-4 p-1"></i>
              Notice
            </a>
          </li>
            <li class="text-center">
              <a href="{% url 'teacher_logout' %}" class="nav-link link-dark mt-1 fw-bold fs-5 text-muted">
                <i class="bi bi-lock text-dark fs-4 p-1"></i>
                Log Out
              </a>
            </li>
          </ul>
        </div>
      </main>
    </div>

    <!-- cards -->
    <div class="col-sm-8">
      <!-- 1 card start  -->
      <div class="row">
        {% for tea in teacher %}
        <div class="col-sm-3">
          <a href="#" class="text-decoration-none">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; max-height: 150px">
              <div class="card-header fw-bold text-center">Name</div>
              <div class="card-body">
                <h6 class="card-title text-center">{{user.first_name}}</h6>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="" class="text-decoration-none">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; max-height: 150px">
              <div class="card-header fw-bold text-center">Contact</div>
              <div class="card-body">
                <h6 class="card-title text-center">{{tea.phone_number}}</h6>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="" class="text-decoration-none">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; max-height: 150px">
              <div class="card-header fw-bold text-center">Join date</div>
              <div class="card-body">
                <h6 class="card-title text-center">{{user.date_joined|date:"M d, Y"}}</h6>
              </div>
            </div>
          </a>
        </div>
        <div class="col-sm-3">
          <a href="#" class="text-decoration-none">
            <div class="card text-white bg-dark mb-3" style="max-width: 18rem; max-height: 150px">
              <div class="card-header fw-bold text-center">Salary</div>
              <div class="card-body">
                <h6 class="card-title text-center">{{tea.salary}}</h6>
              </div>
            </div>
          </a>
        </div>
        {% endfor %}
      </div>

      <!-- notice -->
      <ul class="nav justify-content-center border-bottom pb-3 mb-3"></ul>

      <div class="row mt-3">
        <div class="col">
          <p class="text-center fs-3 fw-bold text-muted fst-italic">Notice</p>
        </div>
      </div>

      <div class="row">
       {% for noti in notice %}
        <div class="col-sm-8 offset-2 mt-3">
          <div class="card">
            <h6 class="card-header fw-bold text-muted">
              {{noti.date}}
              <span class="float-end fw-bold text-muted">By -  {{ noti.post_by.username }}</span>
            </h6>
            <div class="card-body">
              <h6 class="card-title text-muted">
                {{noti.message|capfirst}}
                <span class="float-end fw-bold text-muted"><a href="{% url 'teacher_delete_notice' noti.id %}" onclick="return confirm('Are you sour you want to delete? ')" ><i class="text-danger fs-4 bi bi-trash-fill"></i></a></span>
              </h6>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>

    </div>

  </div>
  <!-- {% endblock %} -->
</div>